.about__title{
    font-family: Pacifico, cursive;
    color:mediumseagreen;
}

/* font-size:35px */

@media screen and(min-width: 0){
      .about__title{
        font-size: 2rem;
      }
}

@media screen and(min-width: 768px){
    .about{
      font-size: 3.1875rem;
    }
}