.header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    background:whitesmoke;
}

.logo{
    margin-top: 1em;
    margin-bottom: 1em;
}
/* phone and tablets */
@media screen and (min-width: 0) {
    .header{
        justify-content: center;
        padding: 0 1rem;
    }
}
/* tablets and computers */
@media screen and (min-width: 768px){
       .header{
        justify-content: space-between;
        padding: 0 5rem;
       }  
}